#Theoretical Questions On Data Structure

#1)What are data structures, and why are they important?
  -  Data structures are ways to organize and store data. They're important for   efficient access, processing, and modification of data.

#2) Explain the difference between mutable and immutable data types with examples.
  - → Mutable: Can change (e.g., list, dict).

   → Immutable: Cannot change (e.g., tuple, str).

#3) What are the main differences between lists and tuples in Python?
  - → Lists are mutable, use [], and slower.

 → Tuples are immutable, use (), and faster.

#4) Describe how dictionaries store data.
  - → Dictionaries store data as key-value pairs using hash maps.

#5)  Why might you use a set instead of a list in Python?
  - → Sets remove duplicates and are faster for membership checks.

#6)  What is a string in Python, and how is it different from a list?
  - → A string is a sequence of characters (immutable). A list is a collection  of items (mutable and can have different data types).

#7)  How do tuples ensure data integrity in Python?
  - → Tuples are immutable, so data can't be changed accidentally.

#8)  What is a hash table, and how does it relate to dictionaries in Python?
  - → A hash table maps keys to values using a hash function. Python’s dict is based on hash tables.

#9)  Can lists contain different data types in Python?
  - → Yes, lists can contain mixed data types.

#10)  P Explain why strings are immutable in Python.
  - → Strings are immutable to save memory and improve performance and security.

#11)  What advantages do dictionaries offer over lists for certain tasks?
  - → Faster lookups with keys, better for data with unique identifiers.

#12)  Describe a scenario where using a tuple would be preferable over a list.
  - → When storing fixed data like coordinates ((x, y)) that shouldn't change.

#13)  How do sets handle duplicate values in Python?
  - → Sets automatically remove duplicate values.

#14)  How does the “in” keyword work differently for lists and dictionaries?
  -f → In lists: checks for values.
  → In dictionaries: checks for keys.

#15)  Can you modify the elements of a tuple? Explain why or why not.
  - → No, tuples are immutable—once created, they can't be changed.

#16)  What is a nested dictionary, and give an example of its use case.
  - → A dictionary inside another dictionary.
  Example: students = {'John': {'age': 15, 'grade': 'A'}}

#17)  Describe the time complexity of accessing elements in a dictionary.
  - → O(1) on average due to hashing.

#18)  In what situations are lists preferred over dictionaries?
  - → When order matters or for simple collections without key-value pairs.

#19)  Why are dictionaries considered unordered, and how does that affect data retrieval?
  - → Earlier Python versions didn't maintain order. Retrieval is key-based,    not position-based.

#20)  Explain the difference between a list and a dictionary in terms of data retrieval.
  - → List: retrieve by index (e.g., list[0]).
  → Dictionary: retrieve by key (e.g., dict['name']).

# Practical Questions

In [1]:
# 1. Write a code to create a string with your name and print it
name = "Milan"
print(name)

Milan

In [2]:
# 2.  Write a code to find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [3]:
# 3.  Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [4]:
# 4.  Write a code to convert the string "hello" to uppercase.
word = "hello"
print(word.upper())

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# 7.  Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
# 9. P Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [12]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [14]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [16]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [17]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [19]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [21]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "John", "age": 30, "city": "New York"}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [22]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [24]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [26]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [27]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[8, 18, 24, 53, 88]

In [28]:
# 28. Write a code to create a list with strings and print the element at the third index.

words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [29]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
# 30. Write a code to convert a list of strings into a set.
words = ["apple", "banana", "apple", "cherry"]
unique_words = set(words)
print(unique_words)

{'apple', 'banana', 'cherry'}